body, html {
	height: 100%;
	background-image: url(../images/PremierFond.jpg);
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
}

	.main .row{
		padding: 0px;
		margin: 0px;
	}

.main {
	padding: 10px 10px 0 10px;
}
.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		
		.panel-heading h3 {
			font-size: 20px;
			text-align: center;
		}
		
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}


@media ( min-width : 768px) {
	/*Allow main to be next to Nav*/
	.main {
		position: absolute;
		width:100% ; /*keeps 100% minus nav size*/
		
		float: right;
	}
	.form-group>label {
		color: orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 1.0px;
		-webkit-text-stroke-color: green;
		font-size: 12pt;
	}
	.main h1 {
		text-align: center;
		font-weight: bold;
		color: orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: black;
		font-size: 3vw;
	}
}

@media ( min-width : 1330px) {
	/*Allow main to be next to Nav*/
	.main {
		position: absolute;
		width:100% ; /*keeps 100% minus nav size*/
		
		float: right;
	}
	.form-group>label {
		font-size: 14pt;
		color: orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 1.0px;
		-webkit-text-stroke-color: green;
	}
	.main h1 {
		text-align: center;
		font-weight: bold;
		color: Orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 2.5px;
		-webkit-text-stroke-color:black;
		font-size: 3.5vw;
	}
	.row{
		    margin-top:40px;
		    padding: 0 10px;
		}
}

@media ( max-width : 768px) {
	.main h1 {
		text-align: center;
		font-weight: bold;
		color: orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: black;
		font-size: 5vw;
	}
	.form-group>label {
		font-size: 13pt;
		color: orange;
		-webkit-text-fill-color: orange;
		-webkit-text-stroke-width: 1.0px;
		-webkit-text-stroke-color: green	;
	}
	
}








